<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WPF_Modern_UI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <WPF_Modern_UI.Settings1>
            <setting name="SelectedAccentColor" serializeAs="String">
                <value>27, 161, 226</value>
            </setting>
            <setting name="SelectedThemeSource" serializeAs="String">
                <value>/FirstFloor.ModernUI;component/Assets/ModernUI.Dark.xaml</value>
            </setting>
            <setting name="SelectedThemeDisplayName" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="SelectedFontSize" serializeAs="String">
                <value>large</value>
            </setting>
        </WPF_Modern_UI.Settings1>
    </userSettings>
</configuration>
